{% set attributes = attributes.addClass([
  'dropdown',
  direction ? direction
  ]) %}

<div{{ attributes }}>
  {{ include('@eua_theme/patterns/dropdown/_dropdown-button.html.twig') }}
  <div class="dropdown-menu">
    {% if content and content_position == 'top' %}
      {{ content }}
    {% endif %}
    {% for item in items %}
      {{ item }}
    {% endfor %}
    {% if content and content_position != 'top' %}
      {{ content }}
    {% endif %}
  </div>
</div>
