{#
/**
 * @file
 * Copyright overlay pattern.
 */
#}
{{ attach_library('oe_bootstrap_theme/copy_clipboard') }}

{% set _trigger_label = trigger_label|default('View more'|t) %}

{% set _footer %}
  {% include '@oe-bcl/button' with {
    label: 'Copy Copyright'|t,
    attributes:  create_attribute()
      .setAttribute('data-bs-dismiss', 'modal')
      .setAttribute('data-copy-target', 'copyright-content'),
  } only %}
{% endset %}

{% set _content %}
  <div class="copyright-content">
    {{ content }}
  </div>
{% endset %}

<div{{ attributes.addClass('copyright-overlay') }}>
  <span class="preview">
    {{ content }}
  </span>
  {{ pattern('link', {
    label: _trigger_label,
    path: '#',
    attributes: trigger_attributes
      .addClass('copyright-trigger')
      .setAttribute('data-bs-toggle', 'modal')
      .setAttribute('data-bs-target', '#' ~ modal_id),
  }) }}
  {{ pattern('modal', {
    'title': 'Copyright'|t,
    'show_close_button': true,
    'body': _content,
    'footer': _footer,
    'attributes': create_attribute()
      .setAttribute('id', modal_id)
  }) }}
</div>

