{#
/**
 * @file
 * Copyright overlay pattern.
 */
#}
{{ attach_library('oe_bootstrap_theme/copy_clipboard') }}

{% set _trigger_label = trigger_label|default('View more'|t) %}

{% set _classes = ['copyright-overlay', 'px-2', 'text-muted'] %}

{% set _footer %}
  {% include '@oe-bcl/button' with {
    label: 'Copy Copyright'|t,
    attributes:  create_attribute()
      .setAttribute('data-copy-target', 'copyright-text'),
  } only %}
{% endset %}

{% set _header %}
  <h5 class="mb-0">{{ 'Copyright'|t }}</h5>
  {% include '@oe-bcl/button' with {
    clean_class: TRUE,
    attributes:  create_attribute()
      .addClass(['btn-close'])
      .setAttribute('data-bs-dismiss', 'modal')
      .setAttribute('aria-label', 'Close'),
  } only %}
{% endset %}

{% set _body %}
  <div class="copyright-text">
    {{ text }}
  </div>
{% endset %}

<div{{ attributes.addClass(_classes) }}>
  <span class="preview">
    {{ text }}
  </span>
  {{ pattern('link', {
    label: _trigger_label,
    path: '#',
    attributes: create_attribute()
      .setAttribute('data-bs-toggle', 'modal')
      .setAttribute('data-bs-target', '#' ~ modal_id),
  }) }}
</div>
{% include '@oe-bcl/modal' with {
  'size': size,
  'id': modal_id,
  'header': _header,
  'show_close_button': true,
  'body': _body,
  'footer': _footer
} only %}

