{#
/**
 * @file
 * Section pattern.
 *
 * Available variables:
 * - heading: Heading of the section.
 * - heading_tag: Tag of the heading.
 * - heading_attributes: Attributes of the heading.
 * - tag: Tag of the content section.
 * - content: Content of the section.
 * - attributes: Attributes of the section.
 * - wrapper_attributes: Attributes of the content wrapper.
 */
#}

{% set tag = tag|default('section') %}
{% set heading_tag = heading_tag|default('h2') %}
{%
  set section_classes = [
    'section',
  ]
%}
{%
  set heading_classes = [
    'section__title',
  ]
%}
{%
  set wrapper_classes = [
    'section__body',
  ]
%}

<{{ tag }}{{ attributes.addClass(section_classes) }}>
  {% if heading is not empty %}
    <{{ heading_tag }}{{ heading_attributes.addClass(heading_classes) }}>
      {{ heading }}
    </{{ heading_tag }}>
  {% endif %}
  <div{{ wrapper_attributes.addClass(wrapper_classes) }}>
    {{ content }}
  </div>
</{{ tag }}>
