{#
/**
 * @file
 * Featured media pattern.
 */
#}
{% if image %}
  {% set _image = {
    '#theme': 'image',
    '#uri': image.src,
    '#alt': image.alt,
  } %}
{% endif %}
{% macro featured_media(embedded_media, image, caption, ratio) %}
  {% include '@oe-bcl/featured-media' with {
    'embedded_media': embedded_media,
    'image': image,
    'content': caption,
    'content_classes': 'bg-light p-3',
    'ratio': ratio,
    'attributes': attributes,
  } only %}
{% endmacro %}

{% if text_title or text or link %}
  {% set text_alignment_class = 'order-md-1' %}
  {% set video_alignment_class = 'order-md-2' %}
  {% if alignment == 'right' %}
    {% set text_alignment_class = 'order-md-2' %}
    {% set video_alignment_class = 'order-md-1' %}
  {% endif %}

  <h3 class="mb-4"> {{ title }} </h3>
  <div class="row">
    <div class="col-12 col-md-6 {{ text_alignment_class }}">
      {% if text_title %}
        <h5 class="text-secondary">{{ text_title }}</h5>
      {% endif %}
      {{ text }}
      {% if link %}
        {{ pattern('link', {
          label: link.label,
          path: link.path,
          variant: 'link',
          icon: link.icon
        }) }}
      {% endif %}
    </div>
    <div class="col-12 col-md-6 {{ video_alignment_class }}">
      {{ _self.featured_media(embedded_media, _image, caption, ratio) }}
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-12 col-md-4">
      {{ _self.featured_media(embedded_media, _image, caption, ratio) }}
    </div>
  </div>
{% endif %}
