{% apply spaceless %}

{# Parameters:
  - title: (string) (default: '')
  - title_tag: (string) (default: 'h1')
  - title_attributes (drupal attrs)
  - content: (string) (default: '')
  - header: (string) (default: '')
  - footer: (string) (default: '')

  - content_attributes (drupal attrs)
  - media_attributes (drupal attrs)
  - header_attributes (drupal attrs)
  - footer_attributes (drupal attrs)
  - attributes (drupal attrs)
#}


{% set _media = media|default('') %}

{% set _title = title|default('') %}
{% set _content = content|default('') %}
{% set _header = header|default('') %}
{% set _footer = footer|default('') %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(['card', 'v2']) %}

<article{{ attributes }}>
{% if _header is not empty %}
  <div{{ header_attributes.addClass('card-header') }}>
    {{- _header -}}
  </div>
{% endif %}
  {% if _media is not empty %}
    <div{{ media_attributes.addClass('card-media') }}>
      {{ _media }}
    </div>
  {% endif %}
  <div{{ content_attributes.addClass('card-body') }}>
  {% if _title is not empty %}
    <div class="card-title">
      {{- _title -}}
    </div>
  {% endif %}
  {{- _content -}}
  </div>
{% if _footer is not empty %}
  <div{{ footer_attributes.addClass('card-footer') }}>
    {{- _footer -}}
  </div>
{% endif %}
</article>

{% endapply %}
