{#
/**
 * @file
 * Default template for "Card V2" pattern.
 *
 * For available variables, refer to the pattern declaration.
 */
#}
<{{ tag }}{{ attributes.addClass(['card', 'v2']) }}>
  {% if header is not empty %}
    <div{{ header_attributes.addClass('card-header') }}>
      {{ header }}
    </div>
  {% endif %}
  {% if media is not empty %}
    <div{{ media_attributes.addClass('card-media') }}>
      {{ media }}
    </div>
  {% endif %}
  <div{{ content_attributes.addClass('card-body') }}>
    {% if title is not empty %}
      <div class="card-title">
        {{ title }}
      </div>
    {% endif %}
    {{ content }}
  </div>
  {% if footer is not empty %}
    <div{{ footer_attributes.addClass('card-footer') }}>
      {{ footer }}
    </div>
  {% endif %}
</{{ tag }}>
