{% set id = 'collapse-' ~ random(1000) %}
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#{{id}}" role="button" aria-expanded="false" aria-controls="{{id}}">
    {{label}}
  </a>
</p>
<div class="collapse" id="{{id}}">
  <div class="card card-body">
    {{content}}
  </div>
</div>
