{% set _placements = {
'fixed_top': 'fixed-top',
'fixed_bottom': 'fixed_bottom',
'sticky_top': 'sticky-top',
} %}
{% set placement = placement ? _placements[placement] : '' %}

{% set attributes = attributes.addClass([
  'navbar',
  'navbar-expand-lg',
  style ? 'navbar-' ~ style,
  style ? 'bg-' ~ style,
  placement
  ]) %}

<nav{{ attributes.addClass() }}>
  <div class="{{ container_fixed ? 'container' : 'container-fluid' }}">
    {% if navbar_branding %}
      <div class="navbar-brand">{{ navbar_branding }}</div>
    {% endif %}
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{id}}"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="{{id}}">
        <div class="mr-auto mb-2 mb-lg-0">
        {% if navbar_left %}
          {{ navbar_left }}
        {% endif %}
        </div>
        {% if navbar_right %}
          {{ navbar_right }}
        {% endif %}
      </div>
  </div>
</nav>
