{% if variant != '' and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('navbar-' ~ variant|lower|replace({'_': '-'})) %}
  {% set attributes = attributes.addClass('bg-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% import _self as menus %}

{% set id = 'navbarNav-' ~ random(1000) %}

<nav{{ attributes.addClass(['navbar', 'navbar-expand-lg', 'bg-light']) }}>
  <div class="container-fluid">
    {% if brand %}
      <span class="navbar-brand" href="#">{{ brand }}</span>
    {% endif %}
    {% if items %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{id}}"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="{{id}}">
        {{ pattern('nav', {
          'items': items,
          'attributes': create_attribute({
            'class': 'navbar-nav mr-auto',
          })
        }) }}
      </div>
    {% endif %}
    {% if right %}
      <div class="d-flex">
        {{ right }}
      </div>
    {% endif %}
    </div>
  </div>
</nav>
